<div class="userInfo">
    {{#if messages.error}}
        <div class="error"><p class="mess">{{messages.error}}</p></div>
    {{/if}}
    {{#if messages.success}}
        <div class="success"><p class="mess">{{messages.success}}</p></div>
    {{/if}}
    <h1 class="h1">Welcome {{currentUser}}</h1>
    <small >Here is your access token{{currentAccessToken}}</small>
    <small >Here is your refresh token{{currentRefreshToken}}</small>
    <a href="/users"><button type="button">users</button></a>
</div>
